.homepageImg {
    width: 300px;
}

#map {
    height: 400px;
}

.table-weather {
    margin-left: -180px;
    margin-right: -180px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-weather th {
    width: 120px;
}

.table-weather td {
    font-size: 12px;
}

.table-weather th, td {
    padding: 5px;
}

.table-weather, th, td {
    border: 1px solid black;
}

.errorMessage {
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
}

.bookImg {
    width: 200px;
}
